* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
    justify-content: center;
    align-items: center;
}

div.form {
    width: 60%;
    flex-direction: column;
    margin: 20px;
}

input.inp {
    width: 100%;
    margin: 10px;
}

label {
    margin: 10px;
    font-weight: bolder;
}

div.cardhold {
    width: 100%;
}

div.carditem {
    display: flex;
    margin: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    height: 114px;
    color: whitesmoke;
    position: relative;
    margin-bottom: 20px;
}

div.carditem img {
    position: relative;
    z-index: 10;
    border-radius: 7px;
    height: 94px;
    width: 168px;
    margin: 10px;
}


div.para{
    padding-top: 6px;
}

div.para p.head{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}
li.desc{
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.696);
}

ul{
    display: flex;
    list-style-type: disc;
    padding-left: 0 !important;
}

ul:first-child{
    list-style-type: none;
}

div.duration{
    background-color: rgba(0, 0, 0, 0.807);
    font-size: 13px;
    font-weight: bolder;
    position: absolute;
    bottom: 13px;
    right: 1056px;
    padding: 1px 4px;
    border-radius: 5px;
}